.content {
    padding-top:10px;
}
.hidden {
    display: none
}

.container {
    text-align: center;
  }
  
  .csv-input {
    padding: 10px;
    display: block;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
